/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff; /* Contrast color for text */
  background-color: #242323; /* Slightly darker gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

/* Header Styles */
header {
  text-align: center;
  padding: 20px;
  color: #fff;
  width: 100%;
}

h1 {
  margin: 0;
}

/* Banner Image Style */
.banner-image {
  width: 80%; /* width to match text */
  height: auto;
  margin: 20px 0;
}

/* Step Image Style */
.step-image {
  width: 90%; /* width to match text */
  height: auto;
  margin: 10px 45px;
}

/* Share Button Styles */
.share-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #E84142; /* Avalanche red */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.share-button:hover {
  background-color: #ff0000;
  transform: scale(1.1); /* Slight enlargement on hover */
}

.share-button:active {
  background-color: #777;
  transform: scale(0.95); /* Slight shrinkage on click */
}

/* Table of Contents Container */
.toc-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.toc {
  display: flex;
  width: 100%;
  padding-left: 15%;
}

nav {
  text-align: left;
  width: 50%;
  margin: 20px 0;
}

nav h2 {
  font-size: 1.2em;
  color: #E84142; /* Avalanche red */
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  color: #E84142; /* Avalanche red */
  text-decoration: none;
}

/* Main Content Container */
main {
  max-width: 800px;
  width: 100%;
  text-align: left;
  margin: 20px 0;
}

/* Main Step Header */
.step-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.step-number {
  border: 3px solid #ffc1c1;
  background-color: #E84142; /* Avalanche red */
  padding: 5px 10px;
  margin-right: 8px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
}

.step-title {
  color: #E84142;
}

/* Indented Content Container for Each Step */
.content-container {
  margin-left: 30px;
  padding: 10px 0;
}

/* Sub-Step Header with Updated Colors */
.sub-step-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start;
  margin-left: 15px;
}

.sub-step-number {
  border: 3px solid #ffc1c1; /* Light red border */
  background-color: #E84142; /* Avalanche red */
  padding: 5px 10px;
  margin-right: 8px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff; /* White text for contrast */
}

.sub-step-title {
  color: #E84142;
}

/* Nested Content for Sub-Steps with Additional Indentation */
.sub-step-content {
  margin-left: 45px;
}

/* Additional Content Styling */
h2, h3 {
  color: #E84142;
}

p, img {
  margin: 10px 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

a {
  color:#E84142;
}

/* Scroll to Top Button */
.scroll-top-btn {
  position: fixed;
  bottom: 30px; 
  right: 30px;
  width: 50px; 
  height: 50px;
  background-color: #E84142; /* Avalanche red */
  color: #fff; /* White icon color */
  border: none;
  border-radius: 50%;
  display: none; /* Hidden by default */
  justify-content: center; /* Center the icon */
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  z-index: 1000; /* Ensure it stays on top */
}

.scroll-top-btn:hover {
  background-color: #ff0000;
  transform: scale(1.1); /* Slight enlargement on hover */
}

.scroll-top-btn:active {
  transform: scale(0.95); /* Slight shrinkage on click */
}

/* Style for the image */
.scroll-top-image {
  width: 100%; /* Make the image fit the button */
  height: 100%;
  padding-bottom: 40%;
  object-fit: cover; /* Ensure the image doesn't distort */
}
